.login {
  width: 100vw;
  height: 100vh;
  background: #fff;

  .warp {
    width: 1120px;
    margin: 0 auto;

    .content-warp {
      position: relative;
      height: calc(100vh - 52px);

      .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        width: 1120px;
        height: 750px;
        margin: 0 auto;

        .left {
          width: 50%;
          >img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin: 0 auto;
          }
        }

        .right {
          position: relative;
          width: 50%;
          background: #fff;
          .right-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            .logo{
              display: flex;
              align-items: baseline;
              justify-content: center;
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 30px;
              >img{
                display: block;
                object-fit: contain;
                width: 250px;
              }
              .welcome{
                text-align: left;
                line-height: 10px;
              }
            }

            .form-warp{
              .icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                background-size: 100% 100%;
                &.userIcon {
                  background-image: url('https://filecdn.ailecheng.com/20230613/527b395a833f194144923ab4ce5dc2eb.png');
                }

                &.passwordIcon {
                  background-image: url('https://filecdn.ailecheng.com/20230613/eb1a950e3871e0ad6239849b9955a5b6.png');
                }
              }
            }
            .login-btn{
              width: 100%;
            }
          }
        }
      }
    }
  }
}