.header{
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding:0;
  background: #fff;
  .custom-trigger{
    height: 30px;
    padding: 0 16px;
    line-height: 30px;
  }
  .user-info{
    line-height: 30px;
    width: 120px;
  }
}