.copyright {
  min-width: 710px;
  color: #b8b8b7;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  .copyright-no{
    color: #6c6c6c;
    text-decoration: none;
  }
}