.copyright {
  min-width: 710px;
  color: rgba(255,255,255,0.7);
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  .copyright-no{
    color: #FFFFFF;
    text-decoration: none;
  }
}